/* Flexbox Part 1 */

#flex-section1 ul {
	display: inline;
	list-style-type: none;
	padding: 5%;
}
#flex-section1 li{
	display: inline;
	padding: 0% 3%;
}


/* end Flexbox Part 1 */


/* Flexbox Part 2 */

#flex-section2 ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-content: stretch;
	margin: 0;
	padding: 0;
}

#flex-section2 li {
	padding: 1% 1%;
}

#flex-section2 .item1 {
	order: 1;
	flex-basis: 110%;
}

#flex-section2 .item2 {
	order: 3;
	flex-basis: 110%;
}

#flex-section2 .item3 {
	order: 2;
	flex-basis: 110%;
}

/* end Flexbox Part 2 */


/* Flexbox Part 3 */

#flex-section3 .box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#flex-section3 .tags ul {
	list-style-type: none;	
	justify-content: space-between;
}

/* end Flexbox Part 3 */


/* Grid Part 1 */

#grid-section1 .grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	grid-auto-rows: 100px;
}

/* end Grid Part 1 */


/* Grid Part 2 */

#grid-section2 .gridboxblue {
	position: relative;
	grid-column-start: 2;
  	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
}

#grid-section2 .gridboxred {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

/* end Grid Part 2 */


/* Grid Part 3 */

#grid-section3 .grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 100px 300px;;
	row-gap: 10px;
	column-gap: 10px;
}

#grid-section3 .box1 {
	grid-column: 1 / span 2;

}

#grid-section3 .box2 {
	grid-column: 2 / -2;
	grid-row: 2;
}

#grid-section3 .box3 {
	grid-row: 2;
}

#grid-section3 .box4 {
	grid-column: 1 / span 2;
	height: 100px;
}

/* end Grid Part 3 */


/* Transition Part */

#transition-section .box a {
	display: inline-block;
	background-color: #ccc;
	color: #000;
	padding: 20px;
	text-decoration: none;
	transition: 3s;
}

#transition-section .box a:hover {
	background-color: #cc0000;
	color: #fff;
	transition: .5s;
}

/* end Transition Part */